body {
  /* Old browsers */
  background: #333333;
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(-45deg, #35577D, #333333);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(-45deg, #35577D, #333333);
  background-image: url("techie.jpg");
  margin: 0;
  padding: 0;
}

h1 {
  color: #6FCF97;
  font-family: Rosario;
  font-size: 24px;
  padding-top: 100px;
  width: 100%;
  text-align: left;
  font-weight: bold;
}
h2 {
	text-align: left;
	color: #6FCF97;
	font-family: Rosario;
	font-size: 24px;
	padding-top: 100px;
	width: 100%;
	font-weight: bold;
}
figcaption {
	color: #6FCF97;
	font-weight: bold;
}